.table-container {
    overflow-x: auto;
    max-width: 100%;
}

.fixed-column {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 150px; /* Adjust this width as needed */
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.info-icon-container {
    margin-right: 10px; /* Adjust the spacing between the icon and the input box as needed */
}

.header-row th {
    background-color: #0070d2; /* Adjust the background color as needed */
    color: white; /* Set text color to white for better readability */
}

.bold {
    font-weight: bold;
}

.custom-modal {
        width: 100%; /* Adjust the width as needed */
        max-width: 2400px; /* Set a maximum width if necessary */
    }

.custom-tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.tooltip-content {
    position: absolute;
    z-index: 9999;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    max-width: 200px;
    display: none;
}

.custom-tooltip:hover .tooltip-content {
    display: block;
}